// Set default device type
$default-device: 'all' !default;

// Set default unit
$default-unit-for-unitless: 'px';

// **************************************
// Breakpoints
// **************************************
$Breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$xs-min: map_get($Breakpoints, xs);
$sm-min: map_get($Breakpoints, sm);
$md-min: map_get($Breakpoints, md);
$lg-min: map_get($Breakpoints, lg);
$xl-min: map_get($Breakpoints, xl);
$xs-max: $sm-min - 1;
$sm-max: $md-min - 1;
$md-max: $lg-min - 1;
$lg-max: $xl-min - 1;

// **************************************
// Queries
// **************************************
$Queries: (
  xs: '(min-width: #{$xs-min})',
  sm: '(min-width: #{$sm-min})',
  md: '(min-width: #{$md-min})',
  lg: '(min-width: #{$lg-min})',
  xl: '(min-width: #{$xl-min})',
  xs-max: '(max-width: #{$xs-max})',
  sm-max: '(max-width: #{$sm-max})',
  md-max: '(max-width: #{$md-max})',
  lg-max: '(max-width: #{$lg-max})',
  xs-only: '(min-width: #{$xs-min}) and (max-width: #{$xs-max})',
  sm-only: '(min-width: #{$sm-min}) and (max-width: #{$sm-max})',
  md-only: '(min-width: #{$md-min}) and (max-width: #{$md-max})',
  lg-only: '(min-width: #{$lg-min}) and (max-width: #{$lg-max})',
  portrait: '(orientation: portrait)',
  landscape: '(orientation: landscape)',
  retina:
    '(min--moz-device-pixel-ratio : 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)',
  dark-mode: '(prefers-color-scheme: dark)',
  light-mode: '(prefers-color-scheme: light)'
);

// **************************************
// Vadlidations
// **************************************
$Validations: (
  device: (
    all,
    print,
    screen,
    speech,
    only print,
    only screen,
    only speech
  ),
  orientation: (
    portrait,
    landscape
  ),
  prefers-color-scheme: (
    dark,
    light
  ),
  feature: (
    any-hover,
    any-pointer,
    aspect-ratio,
    color,
    color-index,
    grid,
    height,
    hover,
    inverted-colors,
    light-level,
    max-aspect-ratio,
    max-color,
    max-color-index,
    max-device-aspect-ratio,
    max-device-height,
    max-device-width,
    max-height,
    max-monochrome,
    max-resolution,
    max-width,
    min-aspect-ratio,
    min-color,
    min-color-index,
    min-device-aspect-ratio,
    min-device-width,
    min-device-height,
    min-height,
    min-monochrome,
    min-resolution,
    min-width,
    monochrome,
    orientation,
    overflow-block,
    overflow-inline,
    pointer,
    prefers-color-scheme,
    resolution,
    scan,
    scripting,
    update-frequency,
    width
  )
);
